:root {
  --blue: #0a0c19;
  --black:rgba(22, 22, 22, 1);
  --dark-violet: #1b1938;
  --violet: #aa5cdb;
  --white: #fff;
  --off-white: #dcdcdc;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    font-family: var(--primary-font);
  
}
p{
    margin-top: 20px;
    font-size: 16px;
}
a{
    font-size: 16px;
}

.container{
  margin-top: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_item{
  height: 80vh;
  width: 80%;
  display: flex;
  background-color: var(--black);
  border-radius: 8px;
  overflow: hidden;
}
.header_text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
    background-color: #aa5cdb;
    padding: 30px 70px;
    color: aliceblue;
    height: 100%;
    width: 50%;
}
.header_img{
  height: 100%;
  width: 50%;
  position: relative;
  
}
.header_img > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
 
}

button{
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgba(221, 0, 0, 1);
    margin-top: 20px;
}
/*--------------- 
middle-bar section style
 --------------------*/
.middle-bar{
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;

}
 .side-bar1{
    height: 40%;
    width: 100%px;
    background-color: black;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
  
 }
 .side-bar1>ul>li>a{
   
    font-size: 14px;
    color: #0a0c19;
    text-decoration: none;
 }

 .side-bar1>ul{
   /* display: flex; */
    list-style-type: none;
 }
.up_btn{
   border-radius: 10px;
   padding: 10px 50px;
   background-color: rgb(203, 51, 5);
}
.up_btn1, .up_btn2{
    border-radius: 10px;
    padding: 10px 10px;
   background-color: #fff;
}

 
 .side-bar2{
 
  display: grid;
  grid-template-columns: repeat(3,1fr);
 }

 .img-text{
    border-radius: 20px;
    border: 1px solid saddlebrown;
    padding: 5px;
    box-shadow: 5px 5px 5px grey;
    margin: 0 5px;
    margin-bottom: 30px;
    
 }
 .img-text>a{
      border: 2px solid gray;
     font-size: 18px;
     color: rgb(48, 51, 53);
     text-decoration: none;
     padding: 5px 20px;
     border-radius: 10px;
    
 }
 .side-icon{
  height: 100%;
 padding: 30px;
  display: flex;
  justify-content: space-around;
 
 }
 .img-text>img{
   
    margin-bottom: 10px;
    height: 60%;
    width: 100%;
 }

.reviw{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


 /*============= footer==============
  */
  .f-item{
    margin-top: 8%;
   padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    color: aliceblue;
    background-color: black;
  }

  .footer_nav{
    margin-top: 50px;
  }
  .footer_nav>ul>li{
    margin: 20px;
    list-style-type: none;
    float: right;
    text-decoration: none;
   
  }
  .footer_nav>ul>li>a{
    color: antiquewhite;
    text-decoration: none;
   
  }
  /* socila media */

.filled{
    
    margin-left: 50px;

  }



  /* ------------
  Media quaries
  -------------- */

  /* ---------mobile devisc---------------- */
  
  @media only screen and (max-width: 688px) {
    .header_item {
      height: 90vh;
      flex-direction: column-reverse;
    }
    .header_text {
      width: 100%;
    }
    .card__image {
      width: 100%;
    }
  }





  

